/*$break-medium: 980px;
$nav-width: 240px;
$site-width: 1600px;*/
/*menu*/
.menu{
    padding: 0;
}

.row{
    margin: 0;
    z-index: 20;
}
.fa-home:before {
  padding:0 5% 10%;
  font-size: 20px;
}
.fa-tasks:before {
  padding: 0 5% 10%;
  font-size: 20px;
}
.fa-users:before {
  padding:0 5% 10%;
  font-size: 20px;
}
.fa-phone-square:before {
  padding:0 5% 10%;
  font-size: 20px;
}
.menu section{/*
    width: 100%;
    height: 100%;
    background-color: transparent; /*rgb(64, 211, 187);
    border-right: 1px solid #F95A08;*/
    ul {
      text-align: center;
      position: fixed;
      background-color: white;
      height: 100%;
      padding: 0;
        li{
          width: 100%;
          color: black;
          margin: auto;
          margin: auto;
          font-size: 11px;
          text-align: center;
          margin: 7% 0 0 0;
          text-decoration: none;
        }    
   }
}
.hover {
  padding: 15% 9%;
  border-bottom: 1px solid rgb(173, 173, 173);
  list-style: none;
}
.hover:hover{
    background-color: white;
    color: white;
}
.hover:hover li{
    color: red;
}

.horizontal {
  border-bottom: 2px solid black;
   .navbar-brand {
     padding: 10% 40%;
   }
   .glyphicon-globe:before {
     font-size: 36px;
   }  
   .navbar-default {
     margin: 0;
   }
  .container-fluid {
    position: fixed;
    width: 100%;
  }
}
.segundo {
   border-bottom: 1px solid rgb(165, 165, 165);
   .navbar-default {
      margin: 0;
/*      .container-fluid{
         width: 100%;
         padding: 0;
         .navbar-nav {
           margin: 0;
           width: 100%;
          }
       }
*/   }
}
.hover2 {
  padding: 5px 2% 0;
  display: inline-block;
  text-align: center;
  color: black;
  list-style: none;
}
.hover2:hover li{
    color: red;
}
.nombre {
  padding: 0 5% 0 46%;
  color: black;
}
.nombre,
.imag{
  display: inline-block;
  position: relative;
  top: -12px;
}
.hover2 li {
margin-top: 10%;
}
.imag {
 width: 4%;
}
.circle {
  border-radius: 50%;
   img {
     width: 100%;
     border-radius: 50%;
    }
}
.dropdown-menu {
  margin-left: -267%;
  top: 122%;
}
/*content2*/
.horario,
.curso{
   padding: 5% 0;
   h3 {
    margin: 0;
   }
}

.cuadro-horario{
  background-color: grey;
  [class*="col-"]{
    padding: 0;
  }
  h5{
    border-right: 1px solid white;
    padding: 1% 12%;
    text-align: center;
   }
}
.cuadro-horario-text {
  [class*="col-"]{
    padding: 0;
  }
  ul{
    padding: 24%;
    list-style: none;
    margin: 0;
  }
}